*{
  text-align: center;
}

image {

  width: 100%;
  height: 100%;
padding: 20%;
}

section {

 border-style: solid;
 border-width: 30px;
 border-color: brown;
 display: inline-block;
 width: auto;
 }